bin/
eclipse/
.settings/
.gradle/
build/
gradle/
.classpath
.project
build.gradle
forge-1.7.10-10.13.0.1180-changelog.txt
CREDITS-fml.txt
gradlew
gradlew.bat
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
LICENSE-fml.txt